.diamond-container {
  position: relative;
  width: 140px; /* Adjust this value as needed */
  height: 140px; /* Adjust this value as needed */
  margin: 0 auto;
}

.diamond {
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 70px solid orange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.diamond:before {
  content: '';
  position: absolute;
  left: -20px;
  top: 70px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top: 70px solid orange;
}

.diamond:nth-child(1) {
  transform: rotate(90deg);
  translate: 0% -20%;
}

.diamond:nth-child(2) {
  left: 52%;
}
