body {
  background-color: #000000;
}

.star {
  width: 10%;
  position: absolute;
  top: 40%;
  left: 45%;
  animation: spin 5s ease infinite;
}

@keyframes spin {
  from { rotate: 0deg; }
  to { rotate: 3600deg; }
}
