body {
  background-color: #FFFFFF;
  overflow: hidden;
}

#star {
  width: 10%;
  position: absolute;
  top: 40%;
  left: 45%;
}

#vignette {
  display: none;
  position: absolute;
  overflow: hidden;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(ellipse at center, rgba(150, 150, 150, 0) 10%, rgba(0, 0, 0, 0.9) 100%);
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

@keyframes spin {
  0% { rotate: 0deg; }
  60% { rotate: 720deg; width: 10%; top: 40%; left: 45%; }
  65% { rotate: 720deg; width: 7%; top: 43%; left: 46.5%; }
  68% { rotate: 720deg; width: 1000%; top: -900%; left: -450%; }
  100% { rotate: 720deg; width: 1000%; top: -900%; left: -450%; }
}

@keyframes vignette {
  0% { display: block; opacity: 0%; }
  5% { display: block; opacity: 100%; }
  95% { display: block; opacity: 100%; }
  100% { display: block; opacity: 0%; }
}
